.contact {
  background-color: rgb(232, 227, 227);
  height: 400px;
  font-family: 'Syncopate', sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding: 50px;
}

.contact h1 {
  color: rgb(121, 123, 125);
  font-size: 60px;

}

.contact h2 {
  color: rgb(121, 123, 125);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


a:link {
  color: rgb(121, 123, 125);
}

a:visited {
  color: rgb(121, 123, 125);
}