.navBar {
  background-color:rgb(232, 227, 227);
  background-size: cover;
  font-family: 'Syncopate', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

.navBar ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: 700;
  font-size: 1.2em;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}


.navBar a {
  font-size: 35px;
}

.navBar a {
  text-decoration: none;
  white-space: nowrap;
}

a:visited {
  color: rgb(121, 123, 125);
  text-decoration: none;

}

:root {
  background-color:rgb(232, 227, 227);

}

.navBar li {
  list-style: none;
  text-decoration: none;
}